* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: azure;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #222;
  color: white;
}

.createBtn {
  text-decoration: none;
  background: #4caf50;
  color: white;
  padding: 8px 14px;
  border-radius: 5px;
}

.blogContainer {
  padding: 30px;
  display: grid;
  gap: 20px;
}

.createblog {
  margin-bottom: 20px;
}

.blogCard {
  background: white;
  padding: 20px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.blogActions button {
  margin-right: 10px;
  padding: 6px 10px;
  cursor: pointer;
}

.formContainer {
  max-width: 600px;
  margin: 40px auto;
  background: white;
  padding: 25px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

#blogForm input{
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
}

#blogForm select {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
}

#blogForm textarea {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  max-width:548px;
}

.publishBtn {
  background: green;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 5px;
}

.publishBtn:hover {
  color : green;
  background-color: lightgreen;
  border: 1px solid green;
  
}

/* mobile responsive */
@media (max-width: 600px) {
  .formContainer {
    margin: 20px;
  }

  #blogForm textarea {
  width: 100%;
  height: 200px;
  margin-bottom: 15px;
  padding: 10px;
  max-width:548px;
}
}